/* .swiper-button-prev{
    background-color: white;
    padding: 40px ;
    border-radius: 50%;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.swiper-button-next{
    background-color: white;
    padding: 40px ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */